
/* CSS Document */

@charset "utf-8";

textarea {
	width:750px
}

th {
	width:20%;
}

#tab-controll ul {
  list-style-type:none;
  padding-left:196px;
  margin-left:5px;
  float:left;

}


#tab-controll ul li {
  display:inline-block;
  background-color:#004d91;
  margin-bottom:5px;
  height:50px;
  width:150px;
  text-align:center;
  padding-top:15px;
}

#tab-controll ul li a {
	color:#ffffff;
}

.main-b {
	margin-bottom: 10px;
}


