@charset "utf-8";
/* CSS Document */

.formbox{
    float: left;
}

.inner-button{
    float: left;
    margin-left: 10px;
}


/*　【子画面用：幅調整】
	2018.12月 komukai追加　*/

main{
  width:700px;
}


/*　【divタグ】
	2018.12月 komukai追加　*/

.m_div {
	font-size:1rem;
	background-color: #ddd;
	text-align: center;
	height: 5rem;
	padding:10px;
	}


/*　【pタグ】
	2018.12月 komukai追加　*/

.m_p{
	float:left;
	padding:5px 10px 5px 10px;
	}

.m_p_right{
	float:right;
	padding:5px 10px 5px 10px;
}
